* {
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
}

#intro, #error {
	display: flex;
	justify-content: center;
}

#intro .container {
	margin: 250px 0 0 0;
}

#intro .container .intro-text {
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	color: #b1aaaa;
} 

#intro .container .slim {
	border: 1px solid #e3e3e3;
	width: 100%;
	margin: 15px 0 0 0;
}

#error .container {
	margin: 250px 0 0 0;
}

#error .container .error-message {
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	color: #b1aaaa;
}